/* styles.css */

    /* Стили для адаптивности */
    @media (min-width: 768px) {
      .container {
        display: flex;
      }
      .left-column {
        width: 80%;
      }
      .right-column {
        width: 20%;
      }
    }
    /* Стили для ASCII анимации */
.header-animation pre {
  white-space: pre-wrap;
  font-family: monospace;
  font-size: 24px;
  animation: jumpAnimation 2s linear infinite;
}

@keyframes jumpAnimation {
  0% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}


