body {
  margin: 0;
  padding: 0;
}

.section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 0 20px;
  transition: background-color 0.5s ease;
}

.section1 {
  background-color: #ff6384;
}

.section2 {
  background-color: #36a2eb;
  flex-direction: column;
}

.section3 {
  background-color: #ffce56;
}

.column {
  width: 100%;
  max-width: 600px;
  margin: 20px;
}
