body {
    margin: 0;
    padding: 0 150px;
    font-family: Arial, sans-serif;
    color: #333;
    transition: background-color 1s; /* add transition for smooth color change */
}

.color1 {
    background-color: hsl(0, 50%, 80%);
}

.color2 {
    background-color: hsl(120, 50%, 80%);
}

.color3 {
    background-color: hsl(240, 50%, 80%);
}

header, footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    min-height: 200vh;
}

section {
    padding: 50px 0;
    text-align: center;
    min-height: 100vh;
}

section h2 {
    margin-bottom: 30px;
}
